<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<link rel="stylesheet" href="css/StyleRejestracja.css">-->
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<!--<div id="tekst">-->
<!--    Zarejestruj sie-->
<!--</div>-->

<!--    <form th:action="@{/users}" th:object="${newUser}" method="post" id="panel">-->
<!--        <label form="Username">Username:</label>-->
<!--        <input type="text" class="username" name="username" th:field="*{username}">-->
<!--        <label form="password">Password:</label>-->
<!--        <input type="password" id="password" name="password" th:field="*{password}">-->
<!--        <label form="Name">Name:</label>-->
<!--        <input type="text" class="username" name="Name" th:field="*{name}">-->
<!--        <label form="Surname">Surname:</label>-->
<!--        <input type="text" class="username" name="Surname" th:field="*{surname}">-->
<!--        <label form="Mail">Mail:</label>-->
<!--        <input type="text" class="username" name="username" th:field="*{mail}">-->
<!--        <label form="CompanyName">CompanyName:</label>-->
<!--        <input type="text" class="username" name="Adres" th:field="*{companyName}">-->
<!--        <label form="CompanyAddress">CompanyAddress:</label>-->
<!--        <input type="text" class="username" name="Adres" th:field="*{companyAddress}">-->
<!--        <div id="lower">-->
<!--            <input type="checkbox"><label class="check" form="checkbox">Zapamiętaj mnie!</label>-->
<!--            <input type="submit" value="Zarejestruj">-->
<!--        </div>-->
<!--    </form>-->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Back to main page</a>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <!--failed registration message-->
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    User with username:'<span th:text="${param.username}"/>' already exists!
                </div>
            </div>

            <!--success message-->
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered to our app!</div>
            </div>

            <h1> Registration</h1>
            <form th:action="@{/registration}" method="post" th:object="${user}">
                <div class="form-group">
                    <label class="control-label" for="username">Username</label>
                    <input id="username" class="form-control" th:field="*{username}" required autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input id="email" class="form-control" th:field="*{email}" required autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <input id="password" class="form-control" type="password" th:field="*{password}" required autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="companyName">CompanyName</label>
                    <input id="companyName" class="form-control" th:field="*{companyName}" required autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span>Already registered?<a href="/" th:href="@{/login}">Login here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="pl">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>DenMar</title>-->

<!--    <link rel="stylesheet" href="../static/css/Style.css" type="text/css"/>-->
<!--    <link rel="stylesheet" href="../static/css/StyleRejestracja.css" type="text/css"/>-->
<!--    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap&subset=latin-ext"-->
<!--          rel="stylesheet">-->
<!--&lt;!&ndash;    <script&ndash;&gt;-->
<!--&lt;!&ndash;            src="https://code.jquery.com/jquery-3.4.1.min.js">&ndash;&gt;-->
<!--&lt;!&ndash;    </script>&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--    <h1 class="logo">Business Partner-->
<!--        <div id="logoPicture">-->
<!--            <img src="../static/img/Partners.jpg" alt="klinika" width="100%" height="100%">-->
<!--        </div>-->
<!--    </h1>-->
<!--    <h1 th:text="${helloMessage}"></h1>-->

<!--    <nav>-->

<!--        <ul class="menu">-->
<!--            &lt;!&ndash; <li><button type="button" onclick="loadPage()">Strona Glowna</button></li> &ndash;&gt;-->
<!--            <li><a th:href="@{/main_page}">Strona Glowna</a></li>-->
<!--            <li><a th:href="@{/about_us}">O nas</a></li>-->
<!--            <li><a th:href="@{/show_group}">Przegladaj Grupy</a></li>-->
<!--            <li><a th:href="@{/create_group}">Utworz Grupe</a></li>-->
<!--            <li><a th:href="@{/current_group}">Aktualna Grupa</a></li>-->
<!--            <li><a th:href="@{/dopasowania}">Najlepsze Dopasowania</a></li>-->
<!--            <li><a th:href="@{/register}">Rejestracja</a></li>-->
<!--            <li><a th:href="@{/login}">Zaloguj</a></li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</header>-->

<!--<main id="container">-->
<!--    <article>-->
<!--        <section>-->
<!--            <div class="sidebar">-->
<!--            </div>-->

<!--            <div id="main">-->
<!--                <div id="accordionMenu">-->


<!--                    <div id="tekst">-->
<!--                        Zarejestruj sie-->
<!--                    </div>-->

<!--                    <form th:action="@{/users}" th:object="${newUser}" method="post" id="panel">-->
<!--                        <label form="Username">Username:</label>-->
<!--                        <input type="text" class="username" name="username" th:field="*{username}">-->
<!--                        <label form="password">Password:</label>-->
<!--                        <input type="password" id="password" name="password" th:field="*{password}">-->
<!--                        <label form="Name">Name:</label>-->
<!--                        <input type="text" class="username" name="Name" th:field="*{name}">-->
<!--                        <label form="Surname">Surname:</label>-->
<!--                        <input type="text" class="username" name="Surname" th:field="*{surname}">-->
<!--                        <label form="Mail">Mail:</label>-->
<!--                        <input type="text" class="username" name="username" th:field="*{mail}">-->
<!--                        <label form="CompanyName">CompanyName:</label>-->
<!--                        <input type="text" class="username" name="Adres" th:field="*{companyName}">-->
<!--                        <label form="CompanyAddress">CompanyAddress:</label>-->
<!--                        <input type="text" class="username" name="Adres" th:field="*{companyAddress}">-->
<!--                        <div id="lower">-->
<!--                            <input type="checkbox"><label class="check" form="checkbox">Zapamiętaj mnie!</label>-->
<!--                            <input type="submit" value="Zarejestruj">-->
<!--                        </div>-->
<!--                    </form>-->
<!--&lt;!&ndash;name = null;&ndash;&gt;-->
<!--&lt;!&ndash;surname = null;&ndash;&gt;-->
<!--&lt;!&ndash;companyName = null;&ndash;&gt;-->
<!--&lt;!&ndash;companyAddress = null;&ndash;&gt;-->
<!--&lt;!&ndash;side = null;&ndash;&gt;-->
<!--&lt;!&ndash;jobType = null;&ndash;&gt;-->
<!--&lt;!&ndash;candidate_user = null;&ndash;&gt;-->
<!--&lt;!&ndash;candidate = null;&ndash;&gt;-->
<!--&lt;!&ndash;partnerIndex = -1;&ndash;&gt;-->


<!--                </div>-->
<!--                <div class="content"></div>-->


<!--            </div>-->
<!--            <div class="sidebar">-->

<!--            </div>-->
<!--            <div style="clear: both"></div>-->

<!--            <div class="footer">-->
<!--                <p> DenMar </br>-->
<!--                    adres: Krakow </br>-->
<!--                    kontakt: 3243242</p>-->

<!--            </div>-->
<!--        </section>-->
<!--    </article>-->
<!--</main>-->

<!--&lt;!&ndash;<script src="js/Script.js"></script>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->